{% extends "base.html" %}


<div class="row">
    {% block body%}
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <!--<a href="post.html"> -->
            <h1 class="post-title">
              {{blog.content}}
            </h1>
            <br>
            {% if blog.content_detail %}
              <h4 class="post-subtitle">
                {{blog.content_detail}}
              </h4>
              
            {% endif %}

            {% if blog.url %}
              <br>

              <h7 class="nav-item">
                <a class="nav-link" href={{ blog.url }}>Link</a>
              </h7>
            {% endif %}

          <!--</a>-->
          <p class="post-meta">{{blog.posted_date}}</p>
        </div>

        {% if user.is_authenticated%} {#ユーザーがログインしているかどうか判定#}
          <a href="{% url 'update' blog.id%}" class="btn btn-outline-dark"> 編集</a>
          <a href="{% url 'delete' blog.id%}" class="btn btn-outline-danger"> 削除</a>
        {% endif %}

    </div>
    {% endblock%}
</div>


